 html, body {
   width:  100%;
   height: 100%;
   font-size: 10px;
   margin: 0;
   background: black;
 }

 .obscure-background {
   opacity: 0.1;
 }

 .top-left-notification {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 50%;
   height: 0;
   overflow: hidden;
   z-index: 99;
   box-sizing: border-box;
   text-align: center;
   box-sizing: border-box;
   transition: height 1.5s;
 }

 .top-right-notification {
   position: absolute;
   top: 0px;
   right: 0px;
   width: 30%;
   height: 0;
   overflow: hidden;
   z-index: 99;
   box-sizing: border-box;
   text-align: center;
   box-sizing: border-box;
   transition: height 1.5s;
 }

 .center-notification-top {
   position: absolute;
   top: 10%;
   left: 10%;
   z-index: 99;
   box-sizing: border-box;
   text-align: center;
   overflow: hidden;
   box-sizing: border-box;
   transition: height 0.5s;
 }

 .center-notification-bottom {
   position: absolute;
   top: 40%;
   left: 10%;
   z-index: 99;
   box-sizing: border-box;
   text-align: center;
   overflow: hidden;
   box-sizing: border-box;
   transition: height 0.5s;
 }

 .bottom-right-notification {
   position: absolute;
   bottom: 0px;
   right: 0px;
   width: 50%;
   height: 0;
   z-index: 99;
   box-sizing: border-box;
   text-align: center;
   box-sizing: border-box;
   transition: height 0.5s;
 }

 .bottom-left-notification {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 30%;
   height: 0;
   overflow: hidden;
   z-index: 99;
   box-sizing: border-box;
   text-align: center;
   box-sizing: border-box;
   transition: height 0.5s;
 }

 .green-notification {
   height: 100%;
   /*border: 1px solid rgba(36, 241, 6, 0.46);
   background-color: rgba(7, 149, 66, 0.35);
   box-shadow: 0px 0px 2px #259c08;*/
   color: gray;
 }

 .yellow-notification {
   height: 20%;
   /*border: 1px solid rgba(241, 142, 6, 0.81);
   background-color: rgba(220, 128, 1, 0.16);
   box-shadow: 0px 0px 2px #ffb103;*/
   color: gray;
 }

 .red-notification {
   height: 100%;
   /*border: 1px solid rgba(241, 6, 6, 0.81);
   background-color: rgba(220, 17, 1, 0.16);
   box-shadow: 0px 0px 2px #ff0303;*/
   color: gray;
 }
